SERVICE_NAME=product-service
PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_NAME=product_db
DB_USER=tekno
DB_PASSWORD=tekno123
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_URL=amqp://tekno:tekno123@rabbitmq:5672
JWT_SECRET=replace-me